<div class="dialoguea-modal-new-argumentation" ng-hide="loading" style="top:0px;left:{{ A.windowWidth/2 - 805/2 }}px ; position:absolute">
	<div class="dialoguea-modal-content">
		<form name="newHypostaseForm" novalidate>
			<div class="dialoguea-modal-header" onMouseDown="drag(this.parentNode.parentNode.parentNode, event);"> Hypostase </div>
			<div class="dialoguea-modal-body">
				<div style="{color:#000}" class="hypostase-card-citation"><i>{{ A.newhypostase.citation }}</i></div>

				<div class="form-group">
					<div class="ck-bold" id="hypostases">
						<table class="hypostase">
							<tr ng-repeat="i in A.Hypostases">
								<td ng-repeat="h in i"
								    ng-class="{'hypostase-selected':isHypostaseSelected($parent.$index,$index),
												 'hypostase-disabled':$index==$parent.$index,
												 'hypostase-stroke':!hypostaseColEnabled($index) || !hypostaseRowEnabled($parent.$index),
												 'hypostase-enabled':hypostaseColEnabled($index),

										}"
								    title="{{A.HypostasesHelp[$parent.$index][$index]}}"
								    ng-click="toggleSelected($parent.$index,$index)">{{h}}
								</td>
							</tr>
						</table>

          <textarea class="form-control textselectable" style="height:220px; margin-top:5px;"
                    rows="5" ng-model="A.newhypostase.argumentation"
                    name="reformulation" id="reformulation" required
                    placeholder="Description...">
	          </textarea>
					</div>
				</div>
				<div class="dialoguea-modal-footer">
					<button class="button btn cancel" onmousedown="A.closeHypostaseModal(newHypostaseForm)">Annuler
					</button>
					<button class="button btn ok" name='EnvoiCmt'
					        ng-disabled="newHypostaseForm.$invalid || A.processing || A.choosenHypostases.length==0"
					        onmousedown="A.postHypostase(newHypostaseForm)">OK
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

