<body>
<head>
    <link href="/css/bootstrap-combined.min.css" rel="stylesheet" >
    <link href="/css/main.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href='/css/FiraSans.css' rel='stylesheet' type='text/css'>
    <link href="/img/favicon.png" rel="shortcut icon" type="image/png"  />
</head>


<body>
<header class="site-header">
	<div class="cf header-panel">
		<a href="#/"><h1 class="site-title">Dialoguea</h1></a>

		<div class="credits">
			<div class="inline" translate="MADE_BY"> réalisé par</div>
			<a href="http://intactile.com" target="_blank">intactile DESIGN</a>,
			<a href="http://forum-debats.fr" target="_blank">Forum des débats</a>

			<div class="inline" translate="AND"> et</div>
			<a href="mailto:phil.estival[AT]free.fr">Philippe Estival</a>
		</div>
		<login></login>
	</div>
</header>
<div class="center" style="background-color:#ececec">
<img src="/img/logoexclam.png">
        <H1>404</H1> page not found
</div>
</body>

