@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'),

  url(FiraSans/FiraSans-Light.woff) format('woff'),
  url(FiraSans/FiraSans-Light.ttf) format('truetype')/*ok*/
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'),
		url(FiraSans/FiraSans-Regular.woff) format('woff'),
		url(FiraSans/FiraSans-Regular.ttf) format('truetype') /*problem*/
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'),
		local('FiraSans-Bold'),
		url(FiraSans/FiraSans-Bold.woff) format('woff'),
		url(FiraSans/FiraSans-Bold.ttf) format('truetype')
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'),
		local('FiraSans-Italic'),
  url(FiraSans/FiraSans-Italic.woff) format('woff'),
  url(FiraSans/FiraSans-Italic.ttf) format('truetype')
}
